<div style="display: none;" id="PoolXMLModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="PoolXMLModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="PoolXMLModalLabel">Add Custom Pool</h3>
  </div>
  <div class="modal-body">
    <div style="padding: 30px">
      <textarea class="field" style="width:100%;" rows="10"></textarea>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal">Close</button>
      <button class="btn btn-primary">Submit</button>
    </div>
  </div>
</div>