<div class="container-fluid">
  <div class="row-fluid">

    <%= render "admin/left" %>

    <div id="content" class="span10">
      <div class="well">

        <%= render "form" %>

      </div>
    </div>
</div>



