<div class="container">
  <div class="row">
    <%= render 'store/left' %>
    <div class="span9">

      <div class="page-header">
        <h1>Edit Host: <%= @host.name %></h1>
      </div>
            
      <%= render "form" %>
      
    </div>
  </div>
</div>
