<div class="container">
  <div class="row">
    <div id="content">
      <ul class="breadcrumb">
        <li><a href="#">Vmanager</a> <span class="divider">/</span></li>
        <li><a href="#">Hosts</a> <span class="divider">/</span></li>
        <li class="active">New</li>
      </ul>
      <div class="well">
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>
