<div class="container">
  <div class="row">

    <div id="content">
      <div class="well">
        <h2><%= [@user.lastname, @user.firstname].join(' ') %></h2>
        <p>Login: <%= @user.username %></p>
        <p>Email: <%= @user.email %></p>
        <p>
          <%= link_to 'Edit', edit_user_path(@user), :class => "btn btn-success" %>
        </p>
      </div>
    </div>
</div>



