<div class="container">
  <div class="row">
    <div id="content">
      <div class="well">
        <table class="table table-bordered table-condensed table-striped">
          <thead>
            <tr>
              <th>Role</th>
              <th>Users</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @roles.each do |role| %>
            <tr>
              <td><%= link_to role.name, role_path(role) %></td>
              <td>
                <% role.users.each do |user| %>
                  <%= user.username %><br />
                <% end %>
              </td>
              <td><%= link_to 'Edit', edit_role_path(role), :class => "btn btn-success btn-mini" %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
