    <div class="span2 main-menu-span">
      <div class="well nav-collapse sidebar-nav">
        <ul class="nav nav-list">

          <li class="nav-header hidden-tablet">Дествие</li>
          <li style="margin-left: -2px;"><a href="<%= new_machine_path %>"><i class="icon-plus"></i> Создать</a></li>

          <li class="nav-header hidden-tablet">Хосты</li>

        </ul>
      </div>
    </div>
